header {
    background: rgb(33, 110, 16);
    background: linear-gradient(0deg, rgb(43, 128, 23) 0%, rgb(35, 94, 22) 35%, rgb(19, 64, 8) 100%);
    color:rgb(245, 245, 245);
    border: 3px solid #275a12;
    border-radius: 0.3em;

}

header ul {
    padding: 0;
    display: flex;
    align-items: center;
    width: 75%;
    margin: auto;
}
a {
    font-family: Geneva, 'Arial Narrow', Arial, sans-serif;
}

.logo {
    display: block;
    font-family: 'Geneva';
    letter-spacing: .5em;
    margin: 0.5em 0;
    text-align: center;
    font-size: 1.3em;
    color: rgb(245, 245, 245);
    padding-bottom: 0;
    font-family: Geneva, 'Arial Narrow', Arial, sans-serif;
}

.mini-navbar {
    margin-left: auto; 
    margin-right: 5%;
    margin-bottom: 1%;
    float: right;
}

.catalog-nav {
    display: inline-block;
    align-items: left;
    margin-left: 5%;
    margin-bottom: 1%;
    margin-right: auto;
}

.catalog-nav li {
    display: inline-block;
    display: block;
    border: 1px;
}

// header ul span {
//     color: white;
//     padding: 0.5em;
// }

.mini-navbar ul {
    font-size: 19px;
    border: 3px solid #275a12;
    border-radius: 0.5em;
    width: 100%;
}
.catalog-nav ul {
    font-size: 19px;
    border: 3px solid #275a12;
    border-radius: 0.5em;
    width: 100%;
}

header li {
    list-style: none;
    margin: .35em;
    padding: 0 2em;
}

header a {
    text-decoration: none;
    color: rgb(245, 245, 245);
    cursor: pointer;
}